{% extends '@Music/base.html.twig' %}

{% block body %}
    <h1>Add new Album</h1>

    {{ form_start(form) }}
        {{ form_widget(form.title) }}
        {{ form_widget(form.genre) }}


        <input type="submit">
    {{ form_end(form) }}

    [ <a href="{{ url('matok_album_list') }}">back to list</a>]
{% endblock %}

