{% extends '@Music/base.html.twig' %}

{% block body %}
    {% set show_table = albums[0] is defined %}

    <div class="panel panel-default">
        <div class="panel-heading"><h1>List of Albums</h1></div>

    {% if show_table %}
        <table class="table">
        <thead>
            <tr>
                <th>Artist</th>
                <th>Album</th>
                <th>Year</th>
                <th>Genre</th>
                <th>Actions</th>
            </tr>
        </thead>
    {% endif %}

    {% for album in albums %}
        <tr>
            <td>{{ album.artist }}</td>
            <td>{{ album.title }}</td>
            <td>{{ album.year }}</td>
            <td>{{ album.genre }}</td>
            <td>
                <div class="btn-group" role="group">
                    <a href="{{ url('matok_album_edit', {'id': album.albumid}) }}" class="btn btn-default"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit</a>
                    <a href="{{ url('matok_album_remove', {'id': album.albumid}) }}" class="btn btn-default"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete</a>
                </div>
            </td>
        </tr>
    {% else %}
        Sorry, nothing here, but you can <a href="{{ url('matok_album_add') }}">add a new album</a>.
    {% endfor %}

    {% if show_table %}
        </table>
        {% import '@Music/macro/paginator.html.twig' as m_paginator %}
        {{ m_paginator.render('matok_album_list', paginator) }}
    {% endif %}
    </div>

    <a href="{{ url('matok_artist_list') }}" class="btn btn-primary btn-lg">
        <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> List of Artists
    </a>
{% endblock %}